{% extends 'events/base.html' %}
{% block content%}
      {%if user.is_authenticated%}

<center>
<h1>add venue to database</h1>
<br><br>
<!-- ID:{{user.id}} -->
{% if submitted %}

your venue was submitted successfully!

{%else%}

<form action="" method="POST">

    {% csrf_token %}

    {{form.as_p}}
<input type = "submit" value = "submit" class = "btn btn-secondary">
</form>
{%endif%}

</center>

{%else%}
<p>you must be logged in to view</p>
<a class="nav-link" href="{% url 'login'%}">login</a>

{%endif%}

{%endblock%}
